<div class="banner">
  <h1>Save your movies</h1>
</div>
<div class="container-header">
  <h2 class="container-header-text"><%= @list.name %></h2>
  <%= link_to "Add movie", bookmarks_new_path(@list.id), id:"container-header-button"%>
</div>
<%= link_to "â†Back", lists_path, id:"back-button" %>
<% @list.movies.each do |movie| %>
<% bookmark = movie.bookmarks.find_by(list_id: @list.id)%>
<div class="card-product">
  <img src=<%=movie.poster_url%> />
  <div class="card-product-infos">
    <div class="card-product-infos-header">
      <h2><%= movie.title %></h2>
      <%= link_to "X", bookmark_delete_path(bookmark), method: :delete, data: { confirm: "Are you sure you would like to delete #{movie.title} from #{@list.name}?" }, id:"card-header-delete" %>
    </div>
    <p><%= movie.overview %></p>
    <p><%= "Rating: #{movie.rating}" %></p>
    <p> <%= "Comment: #{bookmark.comment}" %></p>
  </div>
</div>
<% end %>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Le Wagon
  </div>
</div>
